// Reboot
//
// Normalization of HTML elements, manually forked from Normalize.css to remove
// styles targeting irrelevant browsers while applying new styles.

// for Sticky Footer
html {
  position: relative;
  min-height: 100%;
}

// for Sticky Footer
body {
  margin-bottom: $footer-height; /* Margin bottom by footer height */
}
