// Cards
//
// based on: https://davidwalsh.name/css-flip

:host {
  height: 100%;
  width: 100%;
}

.card-wrapper {
  perspective: 1000px;
  opacity: 1;
  transition: opacity .3s;
}

.card-wrapper_disabled {
  opacity: .5;
}

.card {
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(0deg);
  transition: transform .3s;
}

.card_flipped {
  transform: rotateY(180deg);
  transition-duration: .6s;
}

.card-container_matched {
  animation: ScaleAnimation .5s ease .3s;
}

@keyframes ScaleAnimation {
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

.card-container,
.card-wrapper,
.card,
.card__face,
.card__back {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icon {
  height: auto;
  width: auto;
  font-size: 80px;
}

.card__face,
.card__back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card__back {
  z-index: 2;
  transform: rotateY(0deg);
  background-color: #90a4ae; // blue grey 300
  color: rgba(#fff, .1);
}

.card__face {
  transform: rotateY(180deg);
  background-color: #fff;
  color: #455a64; // blue grey 700
}
