<mat-toolbar class="app-toolbar" color="primary">
  <img src="assets/logo-white.svg" class="app-toolbar__logo" alt=""> Memory

  <div class="app-toolbar__right">
    <button mat-icon-button aria-label="Toggle user menu" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Reset game</button>
      <button mat-menu-item>High score</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Rules</button>
      <button mat-menu-item>Sign out</button>
    </mat-menu>
  </div>
</mat-toolbar>
