<div class="view-content">
  <div class="container">
    <div class="cards">
      <mat-grid-list [cols]="columns" rowHeight="1:1.25" gutterSize="1em" (window:resize)="onResize($event)">
        <mat-grid-tile><mat-card>Simple card</mat-card></mat-grid-tile>
        <mat-grid-tile><mat-card>Simple card</mat-card></mat-grid-tile>
        <mat-grid-tile><mat-card>Simple card</mat-card></mat-grid-tile>

        <mat-grid-tile><mat-card>Simple card</mat-card></mat-grid-tile>
        <mat-grid-tile><mat-card>Simple card</mat-card></mat-grid-tile>
        <mat-grid-tile><mat-card>Simple card</mat-card></mat-grid-tile>

        <mat-grid-tile><mat-card>Simple card</mat-card></mat-grid-tile>
        <mat-grid-tile><mat-card>Simple card</mat-card></mat-grid-tile>
        <mat-grid-tile><mat-card>Simple card</mat-card></mat-grid-tile>

        <mat-grid-tile><mat-card>Simple card</mat-card></mat-grid-tile>
        <mat-grid-tile><mat-card>Simple card</mat-card></mat-grid-tile>
        <mat-grid-tile><mat-card>Simple card</mat-card></mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
