// Helper classes
//


.w-100 {
  width: 100% !important;
  box-sizing: border-box;
}

.h-100 {
  height: 100% !important;
  box-sizing: border-box;
}

.ml-auto {
  margin-left: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 4px !important;
}

.mb-2 {
  margin-bottom: 8px !important;
}

.mb-3 {
  margin-bottom: 16px !important;
}

.mb-4 {
  margin-bottom: 20px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 4px !important;
}

.mr-2 {
  margin-right: 8px !important;
}

.mr-3 {
  margin-right: 16px !important;
}

.mr-4 {
  margin-right: 20px !important;
}

.ml-1 {
  margin-left: 4px !important;
}

.ml-2 {
  margin-left: 8px !important;
}

.ml-3 {
  margin-left: 16px !important;
}

.ml-4 {
  margin-left: 20px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.text-right {
  text-align: right !important;
}

.floating-action {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1010;
}

.opacity-5 {
  opacity: .5 !important;
}

.opacity-65 {
  opacity: .65 !important;
}

.squeeze {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.text-danger {
  color: $color-danger !important;
}

.text-success {
  color: $color-success !important;
}

.text-primary {
  color: $color-primary !important;
}

.bg-primary {
  background-color: $color-primary !important;
}

.text-accent {
  color: $color-accent !important;
  fill: $color-accent !important;
}

.bg-accent {
  background-color: $color-accent !important;
}

.bg-body {
  background-color: $body-bg !important;
}

.overflow-visible {
  overflow: visible !important;
}

.position-relative {
  position: relative !important;
}

.cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@each $name, $color in $card-colors {
  .card-color_#{$name} {
    color: $color !important;
  }
}
