:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.home-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.home-highlight {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-highlight__card {
  padding: 48px 20px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 6px;
}
