<div class="app-wrap">
  <header role="banner">
    <!-- Toolbar -->
    <mat-toolbar color="primary" class="toolbar">
      <mat-toolbar-row>
        <span class="toolbar__title">Memory.</span>
        <span class="toolbar__spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon aria-hidden="false" aria-label="Menu icon">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>Menu Item #1</button>
          <button mat-menu-item>Menu Item #2</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- /Toolbar -->
  </header>

  <main class="app-content">content</main>

  <footer class="app-footer">footer</footer>
</div>
