<div class="game">
    <section class="game-players">
        <ul>
            <li v-for="(player, index) in players" :class="{'font-weight-bold':round.currenPlayer===index}">
                {{player.name}} <span class="text-muted">(points: {{player.points}})</span>
            </li>
        </ul>
    </section>

    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-4 mb-3" v-for="(card, index) in cards">
            <!-- todo: close card inside vue component -->
            <div class="card" :class="'card-'+card.color" @click="flip(index)">
                <div class="card-flipper" :class="{'card-flipper-flipped': card.isFlipped}">
                    <div class="card-reverse" :class="{'disable':playerChange}">
                        <i class="card-logo fas fa-lightbulb"></i>
                    </div>
                    <div class="card-obverse">
                        <i class="card-image" v-html="card.icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <notifications classes="game-notifications"
                   width="100%"
                   position="bottom left"
                   animation-type="velocity"></notifications>
</div>
