@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

footer {
  flex-shrink: 0;
}
