// Cards
//
// source: https://davidwalsh.name/css-flip

.card {
  perspective: 1000px;
}

.card-flipped .card-flipper, // todo: remove it
.card-flipper-flipped {
  transform: rotateY(180deg);
}

.card,
.card-reverse,
.card-obverse {
  width: $card-size-width;
  height: $card-size-height;
  border-radius: $border-radius-lg;
}

/* flip speed goes here */
.card-flipper {
  transition: $card-flip-speed;
  transform-style: preserve-3d;
  position: relative;
}

.card-reverse,
.card-obverse {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.05);
  border-width: 12px;
  border-style: solid;
}

.card-reverse {
  z-index: 2;
  transform: rotateY(0deg); // for firefox 31
  background-color: $card-bg;
  border-color: darken($card-bg, 5%);
}

.card-logo,
.card-image {
  font-size: 1200%;
}

.card-logo {
  color: darken($card-bg, 5%);
}

.card-image {
  color: $white;
}

.card-obverse {
  transform: rotateY(180deg);

  .card-theme-blue & {
    background-color: $blue;
    border-color: darken($blue, 5%);
  }

  .card-theme-purple & {
    background-color: $purple;
    border-color: darken($purple, 5%);
  }

  .card-theme-red & {
    background-color: $red;
    border-color: darken($red, 5%);
  }

  .card-theme-orange & {
    background-color: $orange;
    border-color: darken($orange, 5%);
  }

  .card-theme-yellow & {
    background-color: $yellow;
    border-color: darken($yellow, 5%);
  }

  .card-theme-green & {
    background-color: $green;
    border-color: darken($green, 5%);
  }
}
